@import "./globals.scss";

html {
    scroll-behavior: smooth;
}

// $section-bg: #424242;
$section-bg: #f5f5f5;
$yellow: #fdbd53;
$black: #3c3d41;
// $section-font-color:  #F5F5F5;
$section-font-color: #424242;

body {
    display: grid;
    .profile--img {
        width: 60% !important;
        margin: 0px !important;
    }
    @media only screen and (min-width: 768px) {
        grid-template-columns: 30vw 1fr;
        .navbar {
            .close_btn {
                display: none;
            }
        }

        .close_btn,
        .open_btn {
            display: none;
        }
    }
    @media only screen and (max-width: 600px) {
        grid-template-columns: 0px 1fr;

        .content__container {
            margin: 0px 10px;
        }

        section#aboutme,
        section#code,
        section#works,
        section#dontcode {
            padding: 30px 40px;
            // width: 70% !important;
        }

        .linkcons {
            margin: 0px !important;

            img {
                width: 30px !important;
                margin: 15px 20px !important;
            }
        }

        .close_btn,
        .open_btn {
            svg {
                width: 2rem;
                height: 2rem;
                background: #e2e2e2;
                padding: 10px;
                border-radius: 50%;
                box-shadow: 1px 2px 9px #000000cf;
            }
        }

        .navbar {
            overflow: hidden;
            height: 0vh;
            position: absolute;
            top: 0;
            left: 0;
            grid-row: unset !important;
            z-index: 1000;
            transition: height 0.4s cubic-bezier(0, 0, 0.2, 1);

            .navbar__profile {
                position: relative;

                .close_btn {
                    position: absolute;
                    bottom: 2rem;
                    right: 2.5rem;
                }
            }
        }

        .content {
            width: 100vw;
            position: relative;
            .open_btn {
                position: fixed;
                bottom: 2rem;
                right: 1.5rem;
                z-index: 1;
            }
        }
    }
    height: 100vh;
    font-family: karla;

    .navbar {
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ffb300;
        max-height: 100vh;
        overflow: hidden;

        .navbar__profile {
            transform: none;
            width: 80%;

            img {
                margin: 10px 0px;
            }

            .navbar__profile-content {
                h1 {
                    font-size: xx-large;
                    margin: 1rem 0rem;
                    font-weight: 100;
                    text-shadow: 2px 2px 5px #00000042;
                }

                hr {
                    border: solid 0.1px black;
                }
            }

            .navbar__profile--links {
                display: flex;
                justify-content: center;
                margin: 10px 0px;
                padding: 0px;
                li {
                    margin: 0px 20px;

                    svg {
                        width: 25px;
                        height: 25px;
                        padding: 10px;
                        stroke: $black;
                        border-radius: 50%;
                        transition: all ease-in 0.2s;
                        &:hover {
                            stroke: $yellow;
                            background-color: $black;
                            box-shadow: 0 0.8px 4px rgba(0, 0, 0, 0.025), 0 1.9px 8.8px rgba(0, 0, 0, 0.035),
                                0 3.9px 15.9px rgba(0, 0, 0, 0.045), 0 8px 29.3px rgba(0, 0, 0, 0.055),
                                0 22px 74px rgba(0, 0, 0, 0.08);
                        }
                    }
                }
            }

            .navbar__links {
                width: 100%;
                padding: 20px 10px;

                li {
                    padding: 10px 0px;
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    transition: 0.5s;
                    font-size: x-large;
                    width: 100%;

                    &:hover {
                        text-decoration: underline;
                        padding-right: 24px;
                        padding-left: 8px;

                        &::after {
                            opacity: 1;
                            right: 10px;
                        }
                    }

                    &::after {
                        content: "  👈";
                        position: absolute;
                        opacity: 0;
                        right: -20px;
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    .content {
        grid-row: 1;
        display: inline-block;
        justify-content: center;
        background: #d4d4d4;
        overflow: hidden scroll;

        .header {
            display: none;
        }

        @media only screen and (max-width: 600px) {
            .header {
                position: sticky;
                display: block;
                top: 0;
                z-index: 100;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                background-color: #ffb300;
            }

            section {
                width: 58% !important;

                .content__content {
                    margin-top: 0px !important;
                }

                .fwcard {
                    margin: 5px !important;
                }
            }
        }

        .content__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        section {
            width: 70%;
            margin: 30px 0px;
            background: $section-bg;
            padding: 50px;
            border-radius: 5px;
            color: $section-font-color;
            box-shadow: 1px 1px 5px #a09c9c;
            height: fit-content;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                background-color: #2962b9;
                height: 100%;
                width: 15px;
                top: 0;
                right: 0;
                border-radius: 0px 5px 5px 0px;
            }

            .content__title {
                margin-bottom: 1.2rem;

                h1 {
                    font-size: xx-large;
                    font-weight: bolder;
                }
            }
            .content__content {
                p {
                    font-size: large;
                }
            }
        }

        .aboutme {
            .aboutme__content {
                position: relative;

                .life {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin: 25px 0px;

                    img {
                        width: 25%;
                    }

                    p {
                        font-size: large;
                        width: 70%;
                    }
                }
                .short {
                    font-size: large;
                    font-weight: 400;
                    color: #0d47a1;
                    background: #c4e3f1;
                    padding: 15px 20px;
                    border-radius: 5px;
                }
            }
        }

        .code {
            .code__content {
                .content__message {
                    font-size: large;
                    margin-bottom: 1.5rem;
                }
                .content__note {
                    background-color: #c2ffc5;
                    color: #005f04;
                    padding: 15px;
                    font-size: large;
                    margin-bottom: 1.5rem;
                    text-align: center;
                }

                .content__frameworks {
                    margin: 25px 0px;
                    height: auto;
                    flex-wrap: wrap;
                }
                .fwcard {
                    margin-left: 20px;
                    background: black;
                    padding: 10px 12px;
                    border-radius: 20px;
                    color: white;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    height: 0.8rem;
                    box-shadow: 0px 2px 5px #5a5555;
                    img {
                        width: 1.2rem;
                    }
                    p {
                        font-size: small;
                        margin: 0px 5px;
                        padding: 0px;
                    }
                }
            }
        }

        .works__content {
            .info {
                padding: 15px 10px;
                background: #fde383;
                text-align: center;
                border-radius: 5px;
            }

            .work__title {
                margin-top: 1.5rem;
            }

            .work {
                display: inline-flex;
                height: auto;
                flex-wrap: wrap;

                .work__item {
                    margin: 10px 25px;
                    background: #1976d2;
                    padding: 20px 10px;
                    color: white;
                    width: 10rem;
                    border-radius: 5px;
                    transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
                    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

                    * {
                        cursor: pointer;
                    }

                    &:hover{
                        transform: translate3d(0px,-3px,0px);
                        box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
                    }

                    p {
                        padding: 0;
                    }
                }
            }
        }

        .dontcode__content {
            .socialinfo {
                padding: 15px;
                background: #b2dfdb;
                border-radius: 5px;
                margin: 1.5rem 0px;
            }
            .social__links {
                p {
                    font-size: large;
                    text-align: justify;
                    margin-bottom: 1.4rem;
                    padding: 10px;
                }
            }
            img {
                width: 200px;
                margin: 20px 30px;
            }
            .linkcons {
                display: flex;
                justify-content: space-between;
                margin: 20px;
                flex-wrap: wrap;
                width: 60%;
                margin: auto;
                a > svg {
                    width: 30px;
                    margin: 5px 10px;
                    padding: 0px 10px;
                    border-radius: 50%;
                    stroke: $black;
                    transition: all ease-in 0.2s;
                    &:hover {
                        stroke: $yellow;
                        background-color: $black;
                    }
                }
            }
        }

        .final {
            font-size: large;
            margin-bottom: 2rem;
        }
    }
}
