@charset "UTF-8";
body {
  margin: 0px;
  font-family: 'Courier New', Courier, monospace; }

a {
  color: black;
  text-decoration: none; }

ul, li {
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em; }

h1, h2, h3, h4, h5, p {
  margin: 0px;
  padding: 0px; }

html {
  scroll-behavior: smooth; }

body {
  display: grid;
  height: 100vh;
  font-family: karla; }
  body .profile--img {
    width: 60% !important;
    margin: 0px !important; }
  @media only screen and (min-width: 768px) {
    body {
      grid-template-columns: 30vw 1fr; }
      body .navbar .close_btn {
        display: none; }
      body .close_btn,
      body .open_btn {
        display: none; } }
  @media only screen and (max-width: 600px) {
    body {
      grid-template-columns: 0px 1fr; }
      body .content__container {
        margin: 0px 10px; }
      body section#aboutme,
      body section#code,
      body section#works,
      body section#dontcode {
        padding: 30px 40px; }
      body .linkcons {
        margin: 0px !important; }
        body .linkcons img {
          width: 30px !important;
          margin: 15px 20px !important; }
      body .close_btn svg,
      body .open_btn svg {
        width: 2rem;
        height: 2rem;
        background: #e2e2e2;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 1px 2px 9px #000000cf; }
      body .navbar {
        overflow: hidden;
        height: 0vh;
        position: absolute;
        top: 0;
        left: 0;
        grid-row: unset !important;
        z-index: 1000;
        transition: height 0.4s cubic-bezier(0, 0, 0.2, 1); }
        body .navbar .navbar__profile {
          position: relative; }
          body .navbar .navbar__profile .close_btn {
            position: absolute;
            bottom: 2rem;
            right: 2.5rem; }
      body .content {
        width: 100vw;
        position: relative; }
        body .content .open_btn {
          position: fixed;
          bottom: 2rem;
          right: 1.5rem;
          z-index: 1; } }
  body .navbar {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffb300;
    max-height: 100vh;
    overflow: hidden; }
    body .navbar .navbar__profile {
      transform: none;
      width: 80%; }
      body .navbar .navbar__profile img {
        margin: 10px 0px; }
      body .navbar .navbar__profile .navbar__profile-content h1 {
        font-size: xx-large;
        margin: 1rem 0rem;
        font-weight: 100;
        text-shadow: 2px 2px 5px #00000042; }
      body .navbar .navbar__profile .navbar__profile-content hr {
        border: solid 0.1px black; }
      body .navbar .navbar__profile .navbar__profile--links {
        display: flex;
        justify-content: center;
        margin: 10px 0px;
        padding: 0px; }
        body .navbar .navbar__profile .navbar__profile--links li {
          margin: 0px 20px; }
          body .navbar .navbar__profile .navbar__profile--links li svg {
            width: 25px;
            height: 25px;
            padding: 10px;
            stroke: #3c3d41;
            border-radius: 50%;
            transition: all ease-in 0.2s; }
            body .navbar .navbar__profile .navbar__profile--links li svg:hover {
              stroke: #fdbd53;
              background-color: #3c3d41;
              box-shadow: 0 0.8px 4px rgba(0, 0, 0, 0.025), 0 1.9px 8.8px rgba(0, 0, 0, 0.035), 0 3.9px 15.9px rgba(0, 0, 0, 0.045), 0 8px 29.3px rgba(0, 0, 0, 0.055), 0 22px 74px rgba(0, 0, 0, 0.08); }
      body .navbar .navbar__profile .navbar__links {
        width: 100%;
        padding: 20px 10px; }
        body .navbar .navbar__profile .navbar__links li {
          padding: 10px 0px;
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;
          font-size: x-large;
          width: 100%; }
          body .navbar .navbar__profile .navbar__links li:hover {
            text-decoration: underline;
            padding-right: 24px;
            padding-left: 8px; }
            body .navbar .navbar__profile .navbar__links li:hover::after {
              opacity: 1;
              right: 10px; }
          body .navbar .navbar__profile .navbar__links li::after {
            content: "  👈";
            position: absolute;
            opacity: 0;
            right: -20px;
            transition: 0.5s; }
  body .content {
    grid-row: 1;
    display: inline-block;
    justify-content: center;
    background: #d4d4d4;
    overflow: hidden scroll; }
    body .content .header {
      display: none; }
    @media only screen and (max-width: 600px) {
      body .content .header {
        position: sticky;
        display: block;
        top: 0;
        z-index: 100;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #ffb300; }
      body .content section {
        width: 58% !important; }
        body .content section .content__content {
          margin-top: 0px !important; }
        body .content section .fwcard {
          margin: 5px !important; } }
    body .content .content__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    body .content section {
      width: 70%;
      margin: 30px 0px;
      background: #f5f5f5;
      padding: 50px;
      border-radius: 5px;
      color: #424242;
      box-shadow: 1px 1px 5px #a09c9c;
      height: fit-content;
      position: relative; }
      body .content section:after {
        content: "";
        position: absolute;
        background-color: #2962b9;
        height: 100%;
        width: 15px;
        top: 0;
        right: 0;
        border-radius: 0px 5px 5px 0px; }
      body .content section .content__title {
        margin-bottom: 1.2rem; }
        body .content section .content__title h1 {
          font-size: xx-large;
          font-weight: bolder; }
      body .content section .content__content p {
        font-size: large; }
    body .content .aboutme .aboutme__content {
      position: relative; }
      body .content .aboutme .aboutme__content .life {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 25px 0px; }
        body .content .aboutme .aboutme__content .life img {
          width: 25%; }
        body .content .aboutme .aboutme__content .life p {
          font-size: large;
          width: 70%; }
      body .content .aboutme .aboutme__content .short {
        font-size: large;
        font-weight: 400;
        color: #0d47a1;
        background: #c4e3f1;
        padding: 15px 20px;
        border-radius: 5px; }
    body .content .code .code__content .content__message {
      font-size: large;
      margin-bottom: 1.5rem; }
    body .content .code .code__content .content__note {
      background-color: #c2ffc5;
      color: #005f04;
      padding: 15px;
      font-size: large;
      margin-bottom: 1.5rem;
      text-align: center; }
    body .content .code .code__content .content__frameworks {
      margin: 25px 0px;
      height: auto;
      flex-wrap: wrap; }
    body .content .code .code__content .fwcard {
      margin-left: 20px;
      background: black;
      padding: 10px 12px;
      border-radius: 20px;
      color: white;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 0.8rem;
      box-shadow: 0px 2px 5px #5a5555; }
      body .content .code .code__content .fwcard img {
        width: 1.2rem; }
      body .content .code .code__content .fwcard p {
        font-size: small;
        margin: 0px 5px;
        padding: 0px; }
    body .content .works__content .info {
      padding: 15px 10px;
      background: #fde383;
      text-align: center;
      border-radius: 5px; }
    body .content .works__content .work__title {
      margin-top: 1.5rem; }
    body .content .works__content .work {
      display: inline-flex;
      height: auto;
      flex-wrap: wrap; }
      body .content .works__content .work .work__item {
        margin: 10px 25px;
        background: #1976d2;
        padding: 20px 10px;
        color: white;
        width: 10rem;
        border-radius: 5px;
        transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }
        body .content .works__content .work .work__item * {
          cursor: pointer; }
        body .content .works__content .work .work__item:hover {
          transform: translate3d(0px, -3px, 0px);
          box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); }
        body .content .works__content .work .work__item p {
          padding: 0; }
    body .content .dontcode__content .socialinfo {
      padding: 15px;
      background: #b2dfdb;
      border-radius: 5px;
      margin: 1.5rem 0px; }
    body .content .dontcode__content .social__links p {
      font-size: large;
      text-align: justify;
      margin-bottom: 1.4rem;
      padding: 10px; }
    body .content .dontcode__content img {
      width: 200px;
      margin: 20px 30px; }
    body .content .dontcode__content .linkcons {
      display: flex;
      justify-content: space-between;
      margin: 20px;
      flex-wrap: wrap;
      width: 60%;
      margin: auto; }
      body .content .dontcode__content .linkcons a > svg {
        width: 30px;
        margin: 5px 10px;
        padding: 0px 10px;
        border-radius: 50%;
        stroke: #3c3d41;
        transition: all ease-in 0.2s; }
        body .content .dontcode__content .linkcons a > svg:hover {
          stroke: #fdbd53;
          background-color: #3c3d41; }
    body .content .final {
      font-size: large;
      margin-bottom: 2rem; }

.dialog__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a8;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  display: none; }
  .dialog__container .dialog {
    background-color: #f5f5f5;
    padding: 30px;
    color: #3c3d41;
    height: 70%;
    width: 70%;
    box-sizing: border-box;
    border-radius: 5px; }
    .dialog__container .dialog .dialog__title {
      flex-direction: row;
      display: flex;
      justify-content: space-between; }
      .dialog__container .dialog .dialog__title p {
        color: grey; }
      .dialog__container .dialog .dialog__title svg {
        width: 25px;
        height: 25px;
        padding: 5px 5px;
        border-radius: 50%;
        stroke: #3c3d41;
        cursor: pointer; }
        .dialog__container .dialog .dialog__title svg:hover {
          stroke: #fdbd53;
          background: #3c3d41; }
    .dialog__container .dialog .dialog__content {
      display: flex;
      flex-direction: row; }
      .dialog__container .dialog .dialog__content .project__details {
        flex: 0.5;
        margin-right: 5%;
        margin-top: 20px; }
        .dialog__container .dialog .dialog__content .project__details .role {
          margin: 20px 0px; }
      .dialog__container .dialog .dialog__content .gallery {
        display: flex;
        overflow: hidden scroll;
        flex-direction: row;
        flex: 1;
        flex-wrap: wrap;
        box-sizing: border-box;
        max-height: 50vh; }
        .dialog__container .dialog .dialog__content .gallery img {
          height: 80%;
          margin: 10px 15px; }
